<header class = "blog img-cutoff">
  <div class="header-image-container">
    <amp-img src = "{{ .Site.BaseURL }}/images/{{ .Params.image }}" width = "{{ .Params.imagewidth }}" height = "{{ .Params.imageheight }}" layout="responsive">
    </amp-img>
    <div class = 'blog-title'>
      <h1>{{ .Title }}</h1>
      <h2>{{ .Params.subtitle }}</h2>

      <div class = "blog-meta">
        <span class = "blog-date"><time datetime="{{ .Date }}">{{ .Date.Format "Monday, January 2, 2006" }}</time></span>

        <span class = "blog-category">Filed in <a href = "{{ .Site.BaseURL }}/blog/{{ .Params.blog }}">{{ .Params.Blog }}</a></span>

        {{ if isset .Params "tags" }}
        <ul class = "blog-hashtag">
            {{ range .Params.tags}}
            <li><a class = "hashtags" href="{{ "/tags/" | relLangURL }}{{ . | urlize }}">#{{ . }}</a></li>
            {{ end }}
        </ul>
        {{ end }}
      </div>
    </div>
  </div>
</header>
