<div class="summary-short-div">
  <span class="summary-short-span">Started: Sunday November 18, 2018</span>
  <span class = "summary-short-span">
    <a href = "https://www.amazon.com/Effective-Executive-Definitive-Harperbusiness-Essentials/dp/0060833459">
      The Effective Executive
    </a>
  </span>
  <span class = "summary-short-span">The Definitive Guide to Getting the Right Things Done</span>
  <span class = "summary-short-span">By: Peter F. Drucker</span>
</div>

<!-- Second Book Option
<div class="summary-short-div">
  <span class="summary-short-span">Started: Thursday August 17, 2017</span>
  <span class = "summary-short-span">
    <a href = "https://www.amazon.com/Just-Mercy-Story-Justice-Redemption-ebook/dp/B00JYWVYLY/">
      Just Mercy
    </a>
  </span>
  <span class = "summary-short-span">A Story of Justice and Redemption</span>
  <span class = "summary-short-span">By: Bryan Stevenson</span>
</div>
-->